# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Automake cruft
Makefile
config.log
config.status
.deps/
autom4te.cache/
*~
src/smv_config.hpp

# And the executables
brownion
bvd
disttest
meta
sirmixed
z.*
